@media only screen and (max-width: 500px) {
    #display_none{
        display: none;
    }
    #navbar img{
        display: block;
    }
     .hamburger {
        width: 8vw;
        display: block;
        padding-right: 0vw;
        padding-left: 0px;
    }
}